<div class="begin-form">
  <span class="close">&times;</span>
  <h2>Begin</h2>
  <%= form_for @journey do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :hashtag %>
    <%= f.text_field :hashtag %>

    <%= f.label :start_time %>
    <%= f.text_field :datetime_field %>

    <%= f.label :end_time %>
    <%= f.text_field :datetime_field %>

    <%= f.submit %>
  <% end %>
<!--   <form method="POST" action="/journeys">
    <label>Name</label>
    <input type="text" name="name" placeholder="Big Sur road trip">
    <label>Hashtag</label>
    <input type="text" name="hashtag" placeholder="#bigsur">
    <label>Friends</label>
    <input type="text" name="guest_id" placeholder="@goatogether, @my_dog">
    <label>Start Date</label>
    <input type="date" name="start_time">
    <label>End Date</label>
    <input type="date" name="end_time">
    <input type="submit" value="Let's go!">
  </form> -->
</div>
