<h1><%= current_user.name %></h1>
<% unless @pending_invitations.empty? %>
  <h2 class='invitations'>Your Invitations</h2><i class="fa fa-envelope fa-3 invitations" aria-hidden="true"></i>

  <% @pending_invitations.each do |invite| %>
    <h3 class='invitations'><a href="/journeys/<%= invite.journey.id %>"><%= invite.journey.name %></a></h3>
      <p class='invitations'><%= format_time(invite.journey.start_time) %> - <%= format_time(invite.journey.end_time) %></li>
      <p class='invitations'><a href="/users/<%= invite.journey.user.id %>">Hosted by: @<%= invite.journey.user.nickname %></li>
      <form class="invite-response-form" action='/invites/<%= invite.id%>' method="put"><button class='invite-response-button' alt='Yes'><i class="fa fa-check-circle-o">Yes</button></i><button class='invite-response-button' alt='No'><i class="fa fa-times-circle">No</button></i></form>
  <% end %>

<% end %>

<% if @upcoming_journeys %>
  <h2>Upcoming Journeys</h2>
  <% @upcoming_journeys.each do |journey| %>
  <h3><a href="/journeys/<%= journey.id %>"><%= journey.name %></a></h3>
  <p><%= format_time(journey.start_time) %> - <%= format_time(journey.end_time) %></p>
  <% end %>
<% end %>

<% if @previous_journeys %>
  <h2>Previous Journeys</h2>
  <% @previous_journeys.each do |journey| %>
  <h3><a href="/journeys/<%= journey.id %>"><%= journey.name %></a></h3>
  <p><%= format_time(journey.start_time) %> - <%= format_time(journey.end_time) %></p>
  <% end %>
<% end %>

<% if @upcoming_journeys.empty? && @previous_journeys.empty? %>
<p>This user has not recorded any journeys</p>
<% end %>
