<h1><%= current_user.nickname %></h1>
<% unless @pending_invitations && @pending_invitations.empty? %>
  <h2 class='invitations'>Pending Journeys</h2><i class="fa fa-envelope fa-3 invitations" aria-hidden="true"></i>

  <% @pending_invitations.each do |invite| %>

    <h3 class='invitations'><a href="/journeys/<%= invite.journey.id %>"><%= invite.journey.name %></a></h3>
      <p class='invitations'><%= format_time(invite.journey.start_time) %> - <%= format_time(invite.journey.end_time) %></li>
      <p class='invitations'><a href="/users/<%= invite.journey.user.id %>">Hosted by: @<%= invite.journey.user.nickname %></a>
      <form class="invite-response-form" action='/invites/<%= invite.id %>' method="post">
      <input type="hidden" name="_method" value="put"><button class='response-input' type='text' name='response' value='true'>Yes</button></input>
      <input type="hidden" name="_method" value="put"><button class="response-input" type="text" name="response" value="false">No</button></input>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %></form>
  <% end %>
<% end %>

<% unless @upcoming_journeys && @upcoming_journeys.empty? %>
  <h2>Upcoming Journeys</h2>
  <% @upcoming_journeys.each do |journey| %>
  <h3 ><a class='journeylink' href="/journeys/<%= journey.id %>"><%= journey.name %></a></h3>
  <p><%= format_time(journey.start_time) %> - <%= format_time(journey.end_time) %></p>
  <% end %>
<% end %>
<% if @accepted_invitations %>
  <% @accepted_invitations.each do |invitation| %>
  <h3><a href="/journeys/<%= invitation.journey.id %>"><%= invitation.journey.name %></a></h3>
  <p><%= format_time(invitation.journey.start_time) %> - <%= format_time(invitation.journey.end_time) %></p>
  <% end %>
<% end %>

<% if @previous_journeys %>
  <h2>Previous Journeys</h2>
  <% @previous_journeys.each do |journey| %>
  <h3 ><a class='journeylink' href="/journeys/<%= journey.id %>"><%= journey.name %></a></h3>
  <p><%= format_time(journey.start_time) %> - <%= format_time(journey.end_time) %></p>
  <% end %>
<% end %>

<% if @upcoming_journeys.empty? && @previous_journeys.empty? %>
<p>This user has not recorded any journeys</p>
<% end %>
