<div class="user-card">
  <div class="tweet-user-left">
    <div class="twitter-avatar"></div>
    <div class="tweet-name-username">
      <h2><%= current_user.name %></h2>
      <div class="twitter-nickname">@<%= current_user.nickname %></div>
    </div>
  </div>
  <div class="tweet-user-right">
    <span id="twitter-icon"><a href="https://twitter.com/<%= current_user.nickname %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
  </div>
</div>

<div class="journeys-index">
  <% unless @pending_invitations && @pending_invitations.empty? %>
  <% puts "i am here"%>
  <h2 class='invitations'>Pending Journeys</h2><i class="fa fa-envelope fa-3 invitations" aria-hidden="true"></i>

    <% @pending_invitations.each do |invite| %>
      <h3 class='invitations'><a href="/journeys/<%= invite.journey.id %>"><%= invite.journey.name %></a></h3>
        <p class='invitations'><%= format_time(invite.journey.start_time) %> - <%= format_time(invite.journey.end_time) %></p>
        <p class='invitations'><a href="/users/<%= invite.journey.user.id %>">Hosted by: @<%= invite.journey.user.nickname %></a>
        <form class="invite-response-form" action='/invites/<%= invite.id %>' method="post">
        <input type="hidden" name="_method" value="put"><button class='response-input' type='text' name='response' value='true'>Yes</button></input>
        <input type="hidden" name="_method" value="put"><button class="response-input" type="text" name="response" value="false">No</button></input>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %></form>
    <% end %>
  <% end %>

  <% unless @upcoming_journeys && @upcoming_journeys.empty? %>
  <h2>Upcoming Journeys</h2>
    <% @upcoming_journeys.each do |journey| %>
    <div class="journey-details">
      <h3><a class='journeylink' href="/journeys/<%= journey.id %>"><%= journey.name %></a></h3>
      <p><%= format_time(journey.start_time) %> - <%= format_time(journey.end_time) %></p>
    </div>
    <% end %>
  <% end %>

  <% if @current_journeys %>
    <h2>Current Journeys</h2>
    <% @current_journeys.each do |journey| %>
    <div class="journey-details">
      <h3><a class='journeylink' href="/journeys/<%= journey.id %>"><%= journey.name %></a></h3>
      <p><%= format_time(journey.start_time) %> - <%= format_time(journey.end_time) %></p>
    </div>
    <% end %>
  <% end %>

  <% unless @previous_journeys && @previous_journeys.empty? %>
    <h2>Previous Journeys</h2>
    <% @previous_journeys.each do |journey| %>
    <div class="journey-details">
      <h3><a class='journeylink' href="/journeys/<%= journey.id %>"><%= journey.name %></a></h3>
      <p><%= format_time(journey.start_time) %> - <%= format_time(journey.end_time) %></p>
    </div>
    <% end %>
  <% end %>
</div>

