<!DOCTYPE html>
<html>
  <head>
    <title>Goatogether</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API'] %>&callback=initialize"
  type="text/javascript"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
