<!DOCTYPE html>
<html>
<head>
  <title>Goatogether</title>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/f3f0aa6a92.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API'] %>&callback=initialize"
    type="text/javascript"></script>

  </head>
  <body>
  <div class="logo">
    <h1><a href="/">龴⊙,,⊙龴 goatogether</a></h1>
  </div>
  <div class ="search">
    <form><input type="text" name="search" placeholder="search for location, user, or hashtag"><i class="fa fa-search" aria-hidden="true"></i></form>
  </div>
    <nav>
      <div class="menu-btn">
        <a href="#">+</a>
      </div>
      <ul class="menu-nav">
         <li><a href="#">Explore</a></li>
         <li><a href="#">Begin</a></li>
         <li><a href="#">I'm feeling Adventurous</a></li>
       </ul>
       <ul class="menu-user">
          <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> user</a></li>
          <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
          <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
      </ul>
    </nav>


    <article>
      <%= yield %>
    </article>

  </body>
  </html>
